.container-header {
  img {
    margin-right: 10px;
    width: 24px;
    height: 24px;
  }

  :last-child {
    margin-left: auto;
    margin-right: 16px;
  }
}

.price-chart-container {
  padding: 24px;
  height: 373px;
  background: rgba(31, 31, 42, 1.000);
}