.container-header {
  img {
    margin-right: 10px;
    width: 24px;
    height: 24px;
  }
}

.input-text-container {
  margin-top: 30px;
  margin-left: 22px;
  margin-right: 22px;
  
  button {
    display: block;
    margin-top: 26px;
    margin-bottom: 30px;
    margin-left: auto;
  }
}
