// *********************************************************************
// Standard window width sizes
// *********************************************************************
$tablet-width: 1024px;
$mobile-width: 414px;
$nft-mobile-width: 700px;
