.container-header {
  background-color: rgba(55, 84, 213, 1.000);

  img {
    margin-right: 10px;
    width:22px;
    height: 16px;
  }

  button {
    margin-left: auto;
    margin-right: 25px;
  }
}